

/***************
 * Base States *
 ***************/
.background {
  background-color: #08111C;
  color: #2D90FF;
}

.background.csd {
  border-radius: 0 0 12px 12px;
}

.titlebar {
  transition: background-color 75ms cubic-bezier(0, 0, 0.2, 1),
    color 75ms cubic-bezier(0, 0, 0.2, 1);
  background-color: #08111C;
  color: #2D90FF;
  border-radius: 12px 12px 0 0;
}

/**********************
 * Window Decorations *
 **********************/
 
decoration {
  transition: box-shadow 75ms cubic-bezier(0, 0, 0.2, 1);
  border-radius: 32px;
  box-shadow: 0 2px 2.4px -1px rgba(0, 0, 0, 0.2),
    0 4px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 6px 0 rgba(0, 0, 0, 0.12),
    0 0 0 50px transparent;
  border:32px solid #08111C;
  background-clip: border-box;
  margin: 4px;
}


.csd decoration {
  background-color: #08111C;
  background-clip: border-box;
  padding: 2.5px;
  border: 2px solid #08111C;
  border-radius: 14px;
}

/***********
 * Buttons *
 ***********/

button {
  min-height: 24px;
  min-width: 16px;
  padding: 6px 10px;
  border-radius: 6px;
  font-weight: 500;
}

button:drop(active) {
  box-shadow: inset 0 0 0 9999px alpha(currentColor, 0.08);
}

actionbar
  > revealer
  > box
  .linked
  > button:not(.suggested-action):not(.destructive-action),
button {
  transition: all 75ms cubic-bezier(0, 0, 0.2, 1),
    background-size 300ms cubic-bezier(0, 0, 0.2, 1),
    background-image 1200ms cubic-bezier(0, 0, 0.2, 1);
  outline: none;
  box-shadow: inset 0 0 0 9999px transparent;
  background-color: rgba(192, 202, 245, 0.04);
  background-image: radial-gradient(circle, transparent 10%, transparent 0%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1000% 1000%;
  color: #c0caf5;
}

actionbar
  > revealer
  > box
  .linked
  > button:focus:not(.suggested-action):not(.destructive-action),
button:focus {
  box-shadow: inset 0 0 0 2px alpha(currentColor, 0.08);
}

actionbar
  > revealer
  > box
  .linked
  > button:hover:not(.suggested-action):not(.destructive-action),
button:hover {
  box-shadow: inset 0 0 0 9999px alpha(currentColor, 0.08);
}

actionbar
  > revealer
  > box
  .linked
  > button:active:not(.suggested-action):not(.destructive-action),
button:active {
  transition: all 75ms cubic-bezier(0, 0, 0.2, 1), background-size 0ms,
    background-image 0ms, border 0ms;
  animation: ripple 225ms cubic-bezier(0, 0, 0.2, 1) forwards;
  box-shadow: inset 0 0 0 9999px alpha(currentColor, 0.08);
  background-image: radial-gradient(
    circle,
    alpha(currentColor, 0.12) 10%,
    transparent 0%
  );
  background-size: 0% 0%;
}

actionbar
  > revealer
  > box
  .linked
  > button:disabled:not(.suggested-action):not(.destructive-action),
button:disabled {
  box-shadow: none;
  background-color: rgba(192, 202, 245, 0.04);
  color: rgba(192, 202, 245, 0.5);
}

actionbar
  > revealer
  > box
  .linked
  > button:checked:not(.suggested-action):not(.destructive-action),
button:checked {
  box-shadow: none;
  background-color: #a9b1d6;
  color: rgba(0, 0, 0, 0.87);
}

actionbar
  > revealer
  > box
  .linked
  > button:checked:hover:not(.suggested-action):not(.destructive-action),
button:checked:hover {
  box-shadow: inset 0 0 0 9999px transparent;
}

actionbar
  > revealer
  > box
  .linked
  > button:checked:disabled:not(.suggested-action):not(.destructive-action),
button:checked:disabled {
  box-shadow: inset 0 0 0 9999px alpha(currentColor, 0.1);
  background-color: rgba(192, 202, 245, 0.04);
  color: rgba(192, 202, 245, 0.5);
}

.raven .expander-button,
window.background
  > box.vertical
  > toolbar.primary-toolbar
  > toolitem
  > box.horizontal:not(.linked)
  > button.toggle,
window.background
  > box.vertical
  > toolbar.primary-toolbar
  > toolitem
  > .linked
  > button:not(.toggle):not(.raised):not(.flat),
window.background
  > box.vertical
  > toolbar.primary-toolbar
  > toolitem
  button.flat.scale,
window.background
  > box.vertical
  > toolbar.primary-toolbar
  > toolitem
  > .linked
  > button.image-button.raised,
window.csd
  > box.vertical
  > box.vertical
  > toolbar.horizontal
  > toolitem
  > .linked
  > button,
window.csd
  > box.vertical
  > box.vertical
  > toolbar.horizontal
  > toolitem
  > box.horizontal
  > button,
window.solid-csd
  > box.vertical
  > box.vertical
  > toolbar.horizontal
  > toolitem
  > .linked
  > button,
window.solid-csd
  > box.vertical
  > box.vertical
  > toolbar.horizontal
  > toolitem
  > box.horizontal
  > button,
.nautilus-window headerbar revealer > button,
button.titlebutton:not(.suggested-action):not(.destructive-action),
filechooser #pathbarbox > stack > box > button,
check,
radio,
button.close,
button.circular,
.inline-toolbar button:not(.text-button),
button.image-button {
  border-radius: 9999px;
}


/**********
 * Frames *
 **********/
frame > border,
.frame {
  margin: 0;
  padding: 0;
  border: 1px solid rgba(192, 202, 245, 0.12);
  border-radius: 0;
  box-shadow: none;
}

/*Hides thin little lines that seperate elements*/
scrolledwindow viewport.frame {
  border: none;
}

stack scrolledwindow.frame viewport.frame list {
  border: none;
}



