/* TO FIX
checkbox needs to be upscaled as the icon is now 24px instead of 16*/



@define-color accent_color #2D90FF;
@define-color accent_bg_color #2D90FF;
@define-color accent_fg_color #ffffff;
@define-color destructive_color #2D90FF;
@define-color destructive_bg_color #F04A50;
@define-color destructive_fg_color #ffffff;
@define-color success_color #8ff0a4;
@define-color success_bg_color #73d216;
@define-color success_fg_color #ffffff;
@define-color warning_color #F27835;
@define-color warning_bg_color #944f2b;
@define-color warning_fg_color #F27835;
@define-color error_color #ff7b63;
@define-color error_bg_color #9a2e2d;
@define-color error_fg_color #ffffff;
@define-color window_bg_color #08111cfc;
@define-color window_fg_color #2d90fffc;
@define-color view_bg_color #08111cfc;
@define-color view_fg_color #ffffff;
@define-color headerbar_bg_color #08111cfc;
@define-color headerbar_fg_color #2d90fffc;
@define-color headerbar_border_color rgba(0,0,0,0.0);
@define-color headerbar_backdrop_color #08111cfc;
@define-color headerbar_shade_color rgba(0, 0, 0, 0);
@define-color card_bg_color rgba(3, 7, 12, 0.4);
@define-color card_fg_color #babdb6;
@define-color card_shade_color rgba(0,0,0,0.0);
@define-color dialog_bg_color #08111C;
@define-color dialog_fg_color #2D90FF;
@define-color popover_bg_color #0b1726;
@define-color popover_fg_color #2D90FF;
@define-color shade_color #613583;
@define-color scrollbar_outline_color rgba(0, 0, 0, 0.5);
@define-color blue_1 #99c1f1;
@define-color blue_2 #62a0ea;
@define-color blue_3 #3584e4;
@define-color blue_4 #1c71d8;
@define-color blue_5 #1a5fb4;
@define-color green_1 #8ff0a4;
@define-color green_2 #57e389;
@define-color green_3 #33d17a;
@define-color green_4 #2ec27e;
@define-color green_5 #26a269;
@define-color yellow_1 #f9f06b;
@define-color yellow_2 #f8e45c;
@define-color yellow_3 #f6d32d;
@define-color yellow_4 #f5c211;
@define-color yellow_5 #e5a50a;
@define-color orange_1 #ffbe6f;
@define-color orange_2 #ffa348;
@define-color orange_3 #ff7800;
@define-color orange_4 #e66100;
@define-color orange_5 #c64600;
@define-color red_1 #f66151;
@define-color red_2 #ed333b;
@define-color red_3 #e01b24;
@define-color red_4 #c01c28;
@define-color red_5 #a51d2d;
@define-color purple_1 #dc8add;
@define-color purple_2 #c061cb;
@define-color purple_3 #9141ac;
@define-color purple_4 #813d9c;
@define-color purple_5 #613583;
@define-color brown_1 #cdab8f;
@define-color brown_2 #b5835a;
@define-color brown_3 #986a44;
@define-color brown_4 #865e3c;
@define-color brown_5 #63452c;
@define-color light_1 #ffffff;
@define-color light_2 #f6f5f4;
@define-color light_3 #deddda;
@define-color light_4 #c0bfbc;
@define-color light_5 #9a9996;
@define-color dark_1 #77767b;
@define-color dark_2 #5e5c64;
@define-color dark_3 #3d3846;
@define-color dark_4 #241f31;
@define-color dark_5 #000000;
/*----------Window Control----------
This section is for the close/minimise/maximise buttons, which are no windowcontrols instead of header buttons

This gets the 3 buttons close to each other */
windowcontrols button {
  padding: 0;
}

/*Makes the window control icons into a single image, instead of 4 + removes the default adwaita ones */
windowcontrols button.close, windowcontrols button.close:hover, windowcontrols button.close:active, windowcontrols button.close:checked, windowcontrols button.maximize, windowcontrols button.maximize:hover, windowcontrols button.maximize:active, windowcontrols button.maximize:checked, windowcontrols button.minimize, windowcontrols button.minimize:hover, windowcontrols button.minimize:active, windowcontrols button.minimize:checked {
  color: transparent;
  background-color: transparent;
  background-position: center; 
  background-repeat: no-repeat; 
}
/* Adds the custom icons stored in assets */

windowcontrols button.close { 
  background-image: -gtk-scaled(
    url("assets/titlebutton-close-dark.png"),
    url("assets/titlebutton-close-dark@2.png")
  );
}

windowcontrols button.close:backdrop {
  background-image: -gtk-scaled(
    url("assets/titlebutton-close-backdrop-dark.png"),
    url("assets/titlebutton-close-backdrop-dark@2.png")
  ); 
}

windowcontrols button.close:hover {
  background-image: -gtk-scaled(
    url("assets/titlebutton-close-hover-dark.png"), 
    url("assets/titlebutton-close-hover-dark@2.png")
  ); 
}

windowcontrols button.close:active {
  background-image: -gtk-scaled(
    url("assets/titlebutton-close-active-dark.png"), 
    url("assets/titlebutton-close-active-dark@2.png")
  ); 
}

windowcontrols button.maximize {
  background-image: -gtk-scaled(
    url("assets/titlebutton-maximize-dark.png"), 
    url("assets/titlebutton-maximize-dark@2.png")
  );
}

windowcontrols button.maximize:backdrop {
  background-image: -gtk-scaled(
    url("assets/titlebutton-maximize-backdrop-dark.png"),
    url("assets/titlebutton-maximize-backdrop-dark@2.png")
  );
}

windowcontrols button.maximize:hover {
  background-image: -gtk-scaled(
    url("assets/titlebutton-maximize-hover-dark.png"), 
    url("assets/titlebutton-maximize-hover-dark@2.png")
  ); 
}

windowcontrols button.maximize:active {
  background-image: -gtk-scaled(
    url("assets/titlebutton-maximize-active-dark.png"), 
    url("assets/titlebutton-maximize-active-dark@2.png")
  ); 
}

windowcontrols button.minimize {
  background-image: -gtk-scaled(
    url("assets/titlebutton-minimize-dark.png"), 
    url("assets/titlebutton-minimize-dark@2.png")
  ); 
}

windowcontrols button.minimize:backdrop {
  background-image: -gtk-scaled(
    url("assets/titlebutton-minimize-backdrop-dark.png"), 
    url("assets/titlebutton-minimize-backdrop-dark@2.png")
  ); 
}

windowcontrols button.minimize:hover {
  background-image: -gtk-scaled(
    url("assets/titlebutton-minimize-hover-dark.png"), 
    url("assets/titlebutton-minimize-hover-dark@2.png")
  ); 
}

windowcontrols button.minimize:active {
  background-image: -gtk-scaled(
    url("assets/titlebutton-minimize-active-dark.png"), 
    url("assets/titlebutton-minimize-active-dark@2.png")
  ); 
}
/*----------------------------Switch------------------------------

Makes the default switch and slider transparent + places the switch icon correctly*/
switch, slider {
  background-color: transparent;
  color: transparent;
  margin: 4px;
  background-repeat: no-repeat; 
}

/* Adds custom icons stored in assets */

switch {
  background-image: -gtk-scaled(
    url("assets/switch-dark.png"), 
    url("assets/switch-dark@2.png")
  ); 
}

modelbutton:hover switch, row:selected switch, infobar switch {
  background-image: -gtk-scaled(
    url("assets/switch-selected.png"), 
    url("assets/switch-selected@2.png")
  ); 
}

headerbar switch {
  background-image: -gtk-scaled(
    url("assets/switch-header-dark.png"), 
    url("assets/switch-header-dark@2.png")
  ); 
}

switch:checked {
  background-image: -gtk-scaled(
    url("assets/switch-active-dark.png"), 
    url("assets/switch-active-dark@2.png")
  ); 
}

modelbutton:hover switch:checked, row:selected switch:checked, infobar switch:checked {
  background-image: -gtk-scaled(
    url("assets/switch-active-selected.png"), 
    url("assets/switch-active-selected@2.png")
  ); 
}

headerbar switch:checked {
  background-image: -gtk-scaled(
    url("assets/switch-active-header-dark.png"), 
    url("assets/switch-active-header-dark@2.png")
  ); 
}

switch:disabled {
  background-image: -gtk-scaled(
    url("assets/switch-insensitive-dark.png"), 
    url("assets/switch-insensitive-dark@2.png")
  ); 
}

modelbutton:hover switch:disabled, row:selected switch:disabled, infobar switch:disabled {
  background-image: -gtk-scaled(
    url("assets/switch-insensitive-selected.png"), 
    url("assets/switch-insensitive-selected@2.png")
  ); 
}

headerbar switch:disabled {
  background-image: -gtk-scaled(
    url("assets/switch-insensitive-header-dark.png"), 
    url("assets/switch-insensitive-header-dark@2.png")
  ); 
}

switch:checked:disabled {
  background-image: -gtk-scaled(
    url("assets/switch-active-insensitive-dark.png"), 
    url("assets/switch-active-insensitive-dark@2.png")
  ); 
}

modelbutton:hover switch:checked:disabled, row:selected switch:checked:disabled, infobar switch:checked:disabled {
  background-image: -gtk-scaled(
    url("assets/switch-active-insensitive-selected.png"), 
    url("assets/switch-active-insensitive-selected@2.png")
  ); 
}

headerbar switch:checked:disabled {
  background-image: -gtk-scaled(
    url("assets/switch-active-insensitive-header-dark.png"), 
    url("assets/switch-active-insensitive-header-dark@2.png")
  ); 
}

/*-----------------------------------Checkbox-----------------------------------*/

check {
  color: transparent;
  background-color: transparent;
}

/* Adding all the checkbox assets */

.view.content-view.check:not(list), iconview.content-view.check:not(list), .content-view .tile check:not(list) { 
  -gtk-icon-shadow: none; 
  -gtk-icon-source: -gtk-scaled(
    url("assets/checkbox-selectionmode-dark.png"), 
    url("assets/checkbox-selectionmode-dark@2.png"));
}

.view.content-view.check:checked:not(list), iconview.content-view.check:checked:not(list), .content-view .tile check:checked:not(list) {
  -gtk-icon-shadow: none; 
  -gtk-icon-source: -gtk-scaled(
    url("assets/checkbox-checked-selectionmode-dark.png"), 
    url("assets/checkbox-checked-selectionmode-dark@2.png")); 
}

.check, check, treeview.view check {
  -gtk-icon-source: -gtk-scaled(
    url("assets/checkbox-unchecked-dark.png"), 
    url("assets/checkbox-unchecked-dark@2.png")
  ); 
}

.osd check {
  -gtk-icon-source: -gtk-scaled(
    url("assets/checkbox-unchecked-dark.png"), 
    url("assets/checkbox-unchecked-dark@2.png")
  ); 
}

modelbutton check:selected, .view check:selected, iconview check:selected, treeview.check:selected, row:selected check, infobar check {
  -gtk-icon-source: -gtk-scaled(
    url("assets/checkbox-unchecked-selected.png"), 
    url("assets/checkbox-unchecked-selected@2.png")
  ); 
}

.check:disabled, check:disabled, treeview.view check:disabled {
  -gtk-icon-source: -gtk-scaled(
    url("assets/checkbox-unchecked-insensitive-dark.png"), 
    url("assets/checkbox-unchecked-insensitive-dark@2.png")
  ); 
}
 
.osd check:disabled {
  -gtk-icon-source: -gtk-scaled(
    url("assets/checkbox-unchecked-insensitive-dark.png"), 
    url("assets/checkbox-unchecked-insensitive-dark@2.png")
  ); 
}

modelbutton check:disabled:selected, .view check:disabled:selected, iconview check:disabled:selected, treeview.check:disabled:selected, row:selected check:disabled, infobar check:disabled {
  -gtk-icon-source: -gtk-scaled(
    url("assets/checkbox-unchecked-insensitive-selected.png"), 
    url("assets/checkbox-unchecked-insensitive-selected@2.png")
  ); 
}

.check:indeterminate, check:indeterminate, treeview.view check:indeterminate {
  -gtk-icon-source: -gtk-scaled(
    url("assets/checkbox-mixed-dark.png"), 
    url("assets/checkbox-mixed-dark@2.png")
  ); 
}

.osd check:indeterminate {
  -gtk-icon-source: -gtk-scaled(
    url("assets/checkbox-mixed-dark.png"), 
    url("assets/checkbox-mixed-dark@2.png")
  ); 
}

modelbutton check:indeterminate:selected, .view check:indeterminate:selected, iconview check:indeterminate:selected, treeview.check:indeterminate:selected, row:selected check:indeterminate, infobar check:indeterminate {
  -gtk-icon-source: -gtk-scaled(
    url("assets/checkbox-mixed-selected.png"), 
    url("assets/checkbox-mixed-selected@2.png")
  ); 
}

.check:indeterminate:disabled, check:indeterminate:disabled, treeview.view check:indeterminate:disabled {
  -gtk-icon-source: -gtk-scaled(
    url("assets/checkbox-mixed-insensitive-dark.png"), 
    url("assets/checkbox-mixed-insensitive-dark@2.png")
  ); 
}

.osd check:indeterminate:disabled {
  -gtk-icon-source: -gtk-scaled(
    url("assets/checkbox-mixed-insensitive-dark.png"), 
    url("assets/checkbox-mixed-insensitive-dark@2.png")
  ); 
}

modelbutton check:indeterminate:disabled:selected, .view check:indeterminate:disabled:selected, iconview check:indeterminate:disabled:selected, treeview.check:indeterminate:disabled:selected, row:selected check:indeterminate:disabled, infobar check:indeterminate:disabled {
  -gtk-icon-source: -gtk-scaled(
    url("assets/checkbox-mixed-insensitive-selected.png"), 
    url("assets/checkbox-mixed-insensitive-selected@2.png")
  ); 
}

.check:checked, check:checked, treeview.view check:checked {
  -gtk-icon-source: -gtk-scaled(
    url("assets/checkbox-checked-dark.png"), 
    url("assets/checkbox-checked-dark@2.png")
  ); 
}

.osd check:checked {
  -gtk-icon-source: -gtk-scaled(
    url("assets/checkbox-checked-dark.png"), 
    url("assets/checkbox-checked-dark@2.png")
  );
}

modelbutton check:checked:selected, .view check:checked:selected, iconview check:checked:selected, treeview.check:checked:selected, row:selected check:checked, infobar check:checked {
  -gtk-icon-source: -gtk-scaled(
    url("assets/checkbox-checked-selected.png"), 
    url("assets/checkbox-checked-selected@2.png")
  ); 
}

.check:checked:disabled, check:checked:disabled, treeview.view check:checked:disabled { 
  -gtk-icon-source: -gtk-scaled(
    url("assets/checkbox-checked-insensitive-dark.png"), 
    url("assets/checkbox-checked-insensitive-dark@2.png")
  ); 
}

.osd check:checked:disabled {
  -gtk-icon-source: -gtk-scaled(
    url("assets/checkbox-checked-insensitive-dark.png"), 
    url("assets/checkbox-checked-insensitive-dark@2.png")
  ); 
}

modelbutton check:checked:disabled:selected, .view check:checked:disabled:selected, iconview check:checked:disabled:selected, treeview.check:checked:disabled:selected, row:selected check:checked:disabled, infobar check:checked:disabled {
  -gtk-icon-source: -gtk-scaled(
    url("assets/checkbox-checked-insensitive-selected.png"), 
    url("assets/checkbox-checked-insensitive-selected@2.png")
  ); 
}

/*-------------------------------Radio--------------------------------*/
radio {
  color: transparent;
  background-color:transparent;
  min-width: 16px;
  min-height: 16px;
}

.radio, radio, treeview.view radio {
  -gtk-icon-source: -gtk-scaled(
    url("assets/radio-unchecked-dark.png"), 
    url("assets/radio-unchecked-dark@2.png")
  ); 
}

.osd radio {
  -gtk-icon-source: -gtk-scaled(
    url("assets/radio-unchecked-dark.png"), 
    url("assets/radio-unchecked-dark@2.png")
  ); 
}

modelbutton radio:selected, .view radio:selected, iconview radio:selected, treeview.radio:selected, row:selected radio, infobar radio {
  -gtk-icon-source: -gtk-scaled(
    url("assets/radio-unchecked-selected.png"), 
    url("assets/radio-unchecked-selected@2.png")
  ); 
}

.radio:disabled, radio:disabled, treeview.view radio:disabled {
  -gtk-icon-source: -gtk-scaled(
    url("assets/radio-unchecked-insensitive-dark.png"), 
    url("assets/radio-unchecked-insensitive-dark@2.png")
  ); 
}

.osd radio:disabled {
  -gtk-icon-source: -gtk-scaled(
    url("assets/radio-unchecked-insensitive-dark.png"), 
    url("assets/radio-unchecked-insensitive-dark@2.png")
  );
}

modelbutton radio:disabled:selected, .view radio:disabled:selected, iconview radio:disabled:selected, treeview.radio:disabled:selected, row:selected radio:disabled, infobar radio:disabled {
  -gtk-icon-source: -gtk-scaled(
    url("assets/radio-unchecked-insensitive-selected.png"), 
    url("assets/radio-unchecked-insensitive-selected@2.png")
  ); 
}

.radio:indeterminate, radio:indeterminate, treeview.view radio:indeterminate {
  -gtk-icon-source: -gtk-scaled(
    url("assets/radio-mixed-dark.png"), 
    url("assets/radio-mixed-dark@2.png")
  ); 
}

.osd radio:indeterminate {
  -gtk-icon-source: -gtk-scaled(
    url("assets/radio-mixed-dark.png"), 
    url("assets/radio-mixed-dark@2.png")
  ); 
}

modelbutton radio:indeterminate:selected, .view radio:indeterminate:selected, iconview radio:indeterminate:selected, treeview.radio:indeterminate:selected, row:selected radio:indeterminate, infobar radio:indeterminate {
  -gtk-icon-source: -gtk-scaled(
    url("assets/radio-mixed-selected.png"), 
    url("assets/radio-mixed-selected@2.png")
  ); 
}

.radio:indeterminate:disabled, radio:indeterminate:disabled, treeview.view radio:indeterminate:disabled {
  -gtk-icon-source: -gtk-scaled(
    url("assets/radio-mixed-insensitive-dark.png"), 
    url("assets/radio-mixed-insensitive-dark@2.png")
  ); 
}

.osd radio:indeterminate:disabled {
  -gtk-icon-source: -gtk-scaled(
    url("assets/radio-mixed-insensitive-dark.png"), 
    url("assets/radio-mixed-insensitive-dark@2.png")
  ); 
}

modelbutton radio:indeterminate:disabled:selected, .view radio:indeterminate:disabled:selected, iconview radio:indeterminate:disabled:selected, treeview.radio:indeterminate:disabled:selected, row:selected radio:indeterminate:disabled, infobar radio:indeterminate:disabled {
  -gtk-icon-source: -gtk-scaled(
    url("assets/radio-mixed-insensitive-selected.png"), 
    url("assets/radio-mixed-insensitive-selected@2.png")
  ); 
}

.radio:checked, radio:checked, treeview.view radio:checked {
  -gtk-icon-source: -gtk-scaled(
    url("assets/radio-checked-dark.png"), 
    url("assets/radio-checked-dark@2.png")
  ); 
}

.osd radio:checked {
  -gtk-icon-source: -gtk-scaled(
    url("assets/radio-checked-dark.png"), 
    url("assets/radio-checked-dark@2.png")
  ); 
}

modelbutton radio:checked:selected, .view radio:checked:selected, iconview radio:checked:selected, treeview.radio:checked:selected, row:selected radio:checked, infobar radio:checked {
  -gtk-icon-source: -gtk-scaled(
    url("assets/radio-checked-selected.png"), 
    url("assets/radio-checked-selected@2.png")
  ); 
}

.radio:checked:disabled, radio:checked:disabled, treeview.view radio:checked:disabled {
  -gtk-icon-source: -gtk-scaled(
    url("assets/radio-checked-insensitive-dark.png"), 
    url("assets/radio-checked-insensitive-dark@2.png")
  ); 
}

.osd radio:checked:disabled {
  -gtk-icon-source: -gtk-scaled(
    url("assets/radio-checked-insensitive-dark.png"), 
    url("assets/radio-checked-insensitive-dark@2.png")
  ); 
}

modelbutton radio:checked:disabled:selected, .view radio:checked:disabled:selected, iconview radio:checked:disabled:selected, treeview.radio:checked:disabled:selected, row:selected radio:checked:disabled, infobar radio:checked:disabled {
  -gtk-icon-source: -gtk-scaled(
    url("assets/radio-checked-insensitive-selected.png"), 
    url("assets/radio-checked-insensitive-selected@2.png")
  ); 
}


/*------------Scrollbar--------------*/
scrollbar {
  transition: all 75ms cubic-bezier(0, 0, 0.2, 1);
  background-color: #08111C;
}

scrollbar > range > trough {
  outline: none;
  background: none;
  border: none;
}

scrollbar > range > trough > slider {
  transition: background-color 75ms cubic-bezier(0, 0, 0.2, 1);
  min-width: 8px;
  min-height: 8px;
  border: 4px solid transparent;
  border-radius: 9999px;
  background-clip: padding-box;
  background-color: rgba(45, 144, 255, 0.5);
  box-shadow: none;
  outline: none;
}

scrollbar > range > trough > slider:hover {
  background-color: rgba(45, 144, 255, 0.7);
}

scrollbar > range > trough > slider:active {
  background-color: #2D90FF;
}

scrollbar > range > trough > slider:disabled {
  background-color: rgba(45, 144, 255, 0.3);
}

scrollbar > range.fine-tune > trough > slider {
  min-width: 4px;
  min-height: 4px;
}

scrollbar > range.fine-tune.horizontal > trough > slider {
  margin: 2px 0;
}

scrollbar > range.fine-tune.vertical > trough > slider {
  margin: 0 2px;
}

scrollbar.overlay-indicator:not(.fine-tune) > range > trough > slider {
  transition-property: background-color, min-height, min-width;
}

scrollbar.overlay-indicator:not(.dragging):not(.hovering) {
  border-color: transparent;
  background-color: transparent;
}

scrollbar.overlay-indicator:not(.dragging):not(.hovering)
  > range
  > trough
  > slider {
  min-width: 4px;
  min-height: 4px;
  margin: 3px;
  border: 1px solid rgba(44, 44, 44, 0.3);
}

scrollbar.overlay-indicator:not(.dragging):not(.hovering) button {
  min-width: 4px;
  min-height: 4px;
  margin: 3px;
  border: 1px solid rgba(44, 44, 44, 0.3);
  border-radius: 9999px;
  background-color: rgba(45, 144, 255, 0.5);
  background-clip: padding-box;
  -gtk-icon-source: none;
}

scrollbar.overlay-indicator:not(.dragging):not(.hovering) button:disabled {
  background-color: rgba(45, 144, 255, 0.3);
}

scrollbar.overlay-indicator.horizontal:not(.dragging):not(.hovering)
  > range
  > trough
  > slider {
  min-width: 24px;
}

scrollbar.overlay-indicator.horizontal:not(.dragging):not(.hovering) button {
  min-width: 8px;
}

scrollbar.overlay-indicator.vertical:not(.dragging):not(.hovering)
  > range
  > trough
  > slider {
  min-height: 24px;
}

scrollbar.overlay-indicator.vertical:not(.dragging):not(.hovering) button {
  min-height: 8px;
}

scrollbar.overlay-indicator.dragging,
scrollbar.overlay-indicator.hovering {
  background-color: transparent;
}

scrollbar.horizontal > range > trough > slider {
  min-width: 24px;
}

scrollbar.vertical > range > trough > slider {
  min-height: 24px;
}

scrollbar button {
  min-width: 16px;
  min-height: 16px;
  padding: 0;
  border-radius: 0;
}

scrollbar.vertical button.down {
  -gtk-icon-source: -gtk-icontheme('pan-down-symbolic');
}

scrollbar.vertical button.up {
  -gtk-icon-source: -gtk-icontheme('pan-up-symbolic');
}

scrollbar.horizontal button.down {
  -gtk-icon-source: -gtk-icontheme('pan-end-symbolic');
}

scrollbar.horizontal button.up {
  -gtk-icon-source: -gtk-icontheme('pan-start-symbolic');
}

